__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.python-version
.pytest_cache/
.mypy_cache/

venv/
venv3.11/
venv310/
venv_proto
.venv/

.env

generated/__pycache__/

.idea/
.vscode/

.DS_Store

minio_data/
redpanda_data/

*.log
*.wav
*.whl
