aiokafka==0.14.0
async-timeout==5.0.1
boto3==1.43.14
botocore==1.43.14
cffi==2.0.0
grpcio==1.81.0
grpcio-tools==1.81.0
jmespath==1.1.0
llvmlite==0.47.0
loguru==0.7.3
numba==0.65.1
numpy==1.26.4
packaging==26.2
protobuf==6.33.6
pycparser==3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-rapidjson==1.23
resampy==0.4.3
s3transfer==0.17.0
simpleaudio==1.0.4
six==1.16.0
sounddevice==0.5.5
soundfile==0.14.0
tritonclient==2.68.0
typing_extensions==4.15.0
urllib3==2.7.0